.nav {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
    background-color: blue;
    list-style-type: none;

}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;

}